<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
 <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/INDN211/">INDN211</a></li>
<li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/INDN241/">INDN241</a></li>    
<li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/INDN341/">INDN341</a></li>  
      
 <!---
{% for post in site.posts %}
  <li class="menu-items">
    <a class="menu-links" href="{{ post.url }}">{{ post.title }}</a>
  </li>
{% endfor %}
-->
    </menu>

 

  </div>
</aside>
